Hi <%= @friend.first_name %>

<%= @user.first_name %> wants to be friends with you on ShawnBook! Isn't that fantabulous?~

Love,
<a href="http://games.inner-dimensional.com/">Inner Dimensional Games</a>